.card {
  position: fixed;
  width: 100%;
  color: rgb(253, 249, 249);
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: rgb(150, 48, 245);
}

.logo {
  box-shadow: rgba(27, 25, 25, 0.486) 10px 10px;
  border-radius: 5px;
  background-color: rgb(37, 2, 70);
  width: 30%;
  height: 42px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
