.App {
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutMe{
  width: 80%;
  height: 350px;
  background-color: #110B3A;
  border: 1px solid black;
  border-radius: 10px;
padding: 4px;
  display: flex;
  align-items: center;
}

span{
  color: blueviolet;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
